[Desktop Entry]
Type=Application
Name=Foil Notes
X-Nemo-Application-Type=silica-qt5
Icon=harbour-foilnotes
Exec=harbour-foilnotes

[X-Sailjail]
Sandboxing=Disabled

[X-HarbourBackup]
BackupPathList=.local/share/foil/:Documents/FoilNotes/
BackupConfigList=/apps/harbour-foilnotes/
